BASE_URL=https://api.staging.zedu.chat/api/v1
TEST_USER_EMAIL=testuser@gmail.com
TEST_USER_PASSWORD=test1234


# Demo Video: https://drive.google.com/file/d/1uDSxA-1qmveEoCua4Eoj6gl9Ld_y3CuC/view?usp=drive_link